body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "微软雅黑";
}

#head {
    margin:3% 3% 0 3%;
}

#container {
    margin:0 3% 0 3%;
}

#leftSide {
    float: left;
    word-wrap:break-word;
    width:45%;
}

#mapDiv {
    height: 450px;
    max-height: 700px;
    width:50%;
    float: right;
}